:host ::ng-deep p-breadcrumb,
:host ::ng-deep .p-breadcrumb,
:host ::ng-deep .p-breadcrumb ul {
  width: fit-content !important;
  background-color: transparent;
}

:host ::ng-deep .p-datatable {
  width: 100%;
  border-radius: 1rem !important;
  overflow: hidden !important;
  background-clip: padding-box !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  .p-datatable-thead > tr > th {
    font-weight: 700;
    padding: 1rem 3rem !important;
  }

  .p-datatable-tbody > tr > td {
    padding: 0.2rem 3rem !important;
  }
}

.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
}
