-- =============================================
-- TrungTin Electronics Database Init Script
-- Linux compatible (no Windows file paths)
-- =============================================

USE [master]
GO

-- Tạo database nếu chưa có
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'TrungTinElectronicsDB')
BEGIN
    CREATE DATABASE [TrungTinElectronicsDB]
END
GO

USE [TrungTinElectronicsDB]
GO

-- =============================================
-- TABLES
-- =============================================

IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Category' AND xtype='U')
CREATE TABLE [dbo].[Category](
    [CategoryId] [int] IDENTITY(1,1) NOT NULL,
    [CategoryName] [nvarchar](255) NOT NULL,
    [Description] [nvarchar](500) NULL,
    [CreatedDate] [datetime2](7) NULL,
    [UpdatedDate] [datetime2](7) NULL,
    [Key] [nvarchar](100) NOT NULL,
    [Icon] [nvarchar](255) NULL,
    [Status] [int] NULL,
PRIMARY KEY CLUSTERED ([CategoryId] ASC)
) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Product' AND xtype='U')
CREATE TABLE [dbo].[Product](
    [ProductId] [int] IDENTITY(1,1) NOT NULL,
    [CategoryId] [int] NOT NULL,
    [ProductName] [nvarchar](255) NOT NULL,
    [Description] [nvarchar](1000) NULL,
    [Price] [decimal](18, 2) NOT NULL,
    [ImageUrl] [nvarchar](500) NULL,
    [CreatedDate] [datetime2](7) NULL,
    [UpdatedDate] [datetime2](7) NULL,
    [Code] [nvarchar](50) NOT NULL,
    [DiscountPrice] [decimal](18, 2) NULL,
    [Currency] [nvarchar](10) NOT NULL,
    [Brand] [nvarchar](100) NULL,
    [Stock] [int] NOT NULL,
    [IsNew] [bit] NOT NULL,
    [IsFeatured] [bit] NOT NULL,
PRIMARY KEY CLUSTERED ([ProductId] ASC),
UNIQUE NONCLUSTERED ([Code] ASC)
) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='ProductImages' AND xtype='U')
CREATE TABLE [dbo].[ProductImages](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [ProductId] [int] NOT NULL,
    [ImageUrl] [nvarchar](500) NOT NULL,
    [PublicId] [nvarchar](255) NULL,
    [IsMain] [bit] NULL,
    [CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='ProductTags' AND xtype='U')
CREATE TABLE [dbo].[ProductTags](
    [ProductTagId] [int] IDENTITY(1,1) NOT NULL,
    [ProductId] [int] NOT NULL,
    [Tag] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED ([ProductTagId] ASC)
) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Users' AND xtype='U')
CREATE TABLE [dbo].[Users](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Username] [nvarchar](50) NOT NULL,
    [PasswordHash] [nvarchar](255) NOT NULL,
    [Email] [nvarchar](100) NULL,
    [Role] [nvarchar](20) NULL,
    [CreatedAt] [datetime] NULL,
    [UpdatedAt] [datetime] NULL,
    [FullName] [nvarchar](100) NULL,
    [Phone] [nchar](10) NULL,
    [DateOfBirth] [datetime] NULL,
PRIMARY KEY CLUSTERED ([Id] ASC),
UNIQUE NONCLUSTERED ([Username] ASC)
) ON [PRIMARY]
GO

-- =============================================
-- DEFAULT VALUES
-- =============================================

ALTER TABLE [dbo].[Category] ADD DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Category] ADD DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Product] ADD DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Product] ADD DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Product] ADD DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Product] ADD DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Product] ADD DEFAULT ((0)) FOR [IsNew]
GO
ALTER TABLE [dbo].[Product] ADD DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[ProductImages] ADD DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[ProductImages] ADD DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD DEFAULT (getdate()) FOR [CreatedAt]
GO

-- =============================================
-- FOREIGN KEYS
-- =============================================

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK_Product_Category')
ALTER TABLE [dbo].[Product] WITH CHECK ADD CONSTRAINT [FK_Product_Category]
FOREIGN KEY([CategoryId]) REFERENCES [dbo].[Category] ([CategoryId])
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK_ProductImages_Product')
ALTER TABLE [dbo].[ProductImages] WITH CHECK ADD CONSTRAINT [FK_ProductImages_Product]
FOREIGN KEY([ProductId]) REFERENCES [dbo].[Product] ([ProductId]) ON DELETE CASCADE
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK_ProductTags_Product')
ALTER TABLE [dbo].[ProductTags] WITH CHECK ADD CONSTRAINT [FK_ProductTags_Product]
FOREIGN KEY([ProductId]) REFERENCES [dbo].[Product] ([ProductId]) ON DELETE CASCADE
GO

-- =============================================
-- STORED PROCEDURES
-- =============================================

-- AddProductImage
GO
CREATE OR ALTER PROCEDURE [dbo].[AddProductImage]
    @ProductId INT,
    @ImageUrl NVARCHAR(500),
    @PublicId NVARCHAR(255),
    @IsMain BIT = 0,
    @NewImageId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT INTO dbo.ProductImages (ProductId, ImageUrl, PublicId, IsMain, CreatedAt)
        VALUES (@ProductId, @ImageUrl, @PublicId, @IsMain, SYSDATETIME());
        SET @NewImageId = SCOPE_IDENTITY();
        COMMIT TRANSACTION;
        SELECT @NewImageId AS NewImageId, N'Image added successfully!' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT NULL AS NewImageId, CONCAT(N'Error adding image: ', ERROR_MESSAGE()) AS Message;
    END CATCH
END
GO

CREATE OR ALTER PROCEDURE [dbo].[CreateCategory]
    @CategoryName NVARCHAR(255),
    @Description NVARCHAR(500) = NULL,
    @Key NVARCHAR(100),
    @Icon NVARCHAR(255) = NULL,
    @Status INT = 1,
    @NewCategoryId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO dbo.Category (CategoryName, Description, CreatedDate, UpdatedDate, [Key], Icon, Status)
        VALUES (@CategoryName, @Description, SYSDATETIME(), SYSDATETIME(), @Key, @Icon, @Status);
        SET @NewCategoryId = SCOPE_IDENTITY();
        SELECT @NewCategoryId AS NewCategoryId, N'Category created successfully!' AS Message;
    END TRY
    BEGIN CATCH
        SELECT NULL AS NewCategoryId, CONCAT(N'Error creating category: ', ERROR_MESSAGE()) AS Message;
    END CATCH
END
GO

CREATE OR ALTER PROCEDURE [dbo].[CreateProduct]
    @CategoryId INT,
    @ProductName NVARCHAR(255),
    @Description NVARCHAR(1000) = NULL,
    @Price DECIMAL(18,2),
    @ImageUrl NVARCHAR(500) = NULL,
    @Code NVARCHAR(50) = NULL,
    @DiscountPrice DECIMAL(18,2) = NULL,
    @Currency NVARCHAR(10) = N'VND',
    @Brand NVARCHAR(100) = NULL,
    @Stock INT = 0,
    @IsNew BIT = 0,
    @IsFeatured BIT = 0,
    @NewProductId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO dbo.Product (CategoryId, ProductName, Description, Price, ImageUrl, CreatedDate, UpdatedDate, Code, DiscountPrice, Currency, Brand, Stock, IsNew, IsFeatured)
        VALUES (@CategoryId, @ProductName, @Description, @Price, @ImageUrl, SYSDATETIME(), SYSDATETIME(), @Code, @DiscountPrice, @Currency, @Brand, @Stock, @IsNew, @IsFeatured);
        SET @NewProductId = SCOPE_IDENTITY();
        SELECT @NewProductId AS NewProductId, N'Product created successfully!' AS Message;
    END TRY
    BEGIN CATCH
        SELECT NULL AS NewProductId, CONCAT(N'Error creating product: ', ERROR_MESSAGE()) AS Message;
    END CATCH
END
GO

CREATE OR ALTER PROCEDURE [dbo].[GetAllCategories]
    @CategoryName NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.CategoryId, c.CategoryName, c.Description, c.CreatedDate, c.UpdatedDate, c.[Key], c.Icon, c.Status
    FROM dbo.Category c
    WHERE @CategoryName IS NULL OR c.CategoryName = @CategoryName
END
GO

CREATE OR ALTER PROCEDURE [dbo].[GetAllProducts]
    @Code NVARCHAR(50) = NULL,
    @CategoryId NVARCHAR(100) = NULL,
    @Brand NVARCHAR(100) = NULL,
    @MinPrice DECIMAL(18,2) = NULL,
    @MaxPrice DECIMAL(18,2) = NULL,
    @IsNew BIT = NULL,
    @IsFeatured BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.ProductId, p.CategoryId, p.ProductName, p.Description, p.Price,
        p.ImageUrl, p.CreatedDate, p.UpdatedDate, p.Code, p.DiscountPrice,
        p.Currency, p.Brand, p.Stock, p.IsNew, p.IsFeatured, c.CategoryName,
        STRING_AGG(pt.Tag, ',') AS Tags
    FROM dbo.Product p
    LEFT JOIN dbo.ProductTags AS pt ON p.ProductId = pt.ProductId
    LEFT JOIN dbo.Category AS c ON p.CategoryId = c.CategoryId
    WHERE (@Code IS NULL OR p.Code LIKE '%' + @Code + '%')
      AND (@CategoryId IS NULL OR p.CategoryId = @CategoryId)
      AND (@Brand IS NULL OR p.Brand = @Brand)
      AND (@MinPrice IS NULL OR p.Price >= @MinPrice)
      AND (@MaxPrice IS NULL OR p.Price <= @MaxPrice)
      AND (@IsNew IS NULL OR p.IsNew = @IsNew)
      AND (@IsFeatured IS NULL OR p.IsFeatured = @IsFeatured)
    GROUP BY p.ProductId, p.CategoryId, p.ProductName, p.Description, p.Price,
        p.ImageUrl, p.CreatedDate, p.UpdatedDate, p.Code, p.DiscountPrice,
        p.Currency, p.Brand, p.Stock, p.IsNew, p.IsFeatured, c.CategoryName
    ORDER BY p.CreatedDate DESC, p.ProductId DESC;
END
GO

CREATE OR ALTER PROCEDURE [dbo].[GetProductByCode]
    @Code NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.ProductId, p.CategoryId, c.CategoryName, p.ProductName, p.Description,
        p.Price, p.ImageUrl, p.CreatedDate, p.UpdatedDate, p.Code, p.DiscountPrice,
        p.Currency, p.Brand, p.Stock, p.IsNew, p.IsFeatured,
        STRING_AGG(pt.Tag, ',') AS Tags
    FROM dbo.Product AS p
    LEFT JOIN dbo.ProductTags AS pt ON p.ProductId = pt.ProductId
    LEFT JOIN dbo.Category AS c ON p.CategoryId = c.CategoryId
    WHERE p.Code = @Code
    GROUP BY p.ProductId, p.CategoryId, p.ProductName, p.Description, p.Price,
        p.ImageUrl, p.CreatedDate, p.UpdatedDate, p.Code, p.DiscountPrice,
        p.Currency, p.Brand, p.Stock, p.IsNew, p.IsFeatured, c.CategoryName;
END
GO

CREATE OR ALTER PROCEDURE [dbo].[UpdateCategory]
    @CategoryId INT,
    @CategoryName NVARCHAR(255) = NULL,
    @Description NVARCHAR(500) = NULL,
    @Key NVARCHAR(100) = NULL,
    @Icon NVARCHAR(255) = NULL,
    @Action NVARCHAR(50),
    @ResultMessage NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.Category WHERE CategoryId = @CategoryId)
        BEGIN
            SET @ResultMessage = N'Category does not exist.' RETURN;
        END
        IF @Action = 'delete'
        BEGIN
            UPDATE dbo.Category SET Status = 0, UpdatedDate = SYSDATETIME() WHERE CategoryId = @CategoryId;
            SET @ResultMessage = N'Category deleted (soft delete).' RETURN;
        END
        IF @Action = 'update'
        BEGIN
            UPDATE dbo.Category
            SET CategoryName = ISNULL(@CategoryName, CategoryName),
                Description = ISNULL(@Description, Description),
                [Key] = ISNULL(@Key, [Key]),
                Icon = ISNULL(@Icon, Icon),
                UpdatedDate = SYSDATETIME()
            WHERE CategoryId = @CategoryId;
            SET @ResultMessage = N'Category updated successfully.' RETURN;
        END
        SET @ResultMessage = N'Invalid action.';
    END TRY
    BEGIN CATCH
        SET @ResultMessage = CONCAT(N'Error: ', ERROR_MESSAGE());
    END CATCH
END
GO

CREATE OR ALTER PROCEDURE [dbo].[UpdateUserProfile]
    @UserId INT,
    @FullName NVARCHAR(255) = NULL,
    @Phone NVARCHAR(10) = NULL,
    @DateOfBirth DATETIME = NULL
AS
BEGIN
    UPDATE Users
    SET FullName = COALESCE(@FullName, FullName),
        Phone = COALESCE(@Phone, Phone),
        DateOfBirth = COALESCE(@DateOfBirth, DateOfBirth),
        UpdatedAt = GETUTCDATE()
    WHERE Id = @UserId;
END
GO