<div class="flex align-items-center justify-content-between p-3 surface-border surface-0 shadow-1">
  <!-- Logo + Title -->
  <div class="flex align-items-center justify-content-center gap-3">
    <a [routerLink]="['/']" class="logo-link">
      <img src="assets/image/logo/mini_logo.png" alt="Trung Tín" class="h-3rem w-auto md:h-4rem" />
    </a>
    <p class="m-0 text-xl font-bold">Dashboard</p>

    <p-button (click)="visible = true" icon="pi pi-bars" />
  </div>

  <!-- Admin info + Logout -->
  <div class="flex align-items-center gap-3">
    <span class="font-medium text-700">Xin chào, {{ adminName || 'Admin' }}!</span>
    <i pRipple class="pi pi-sign-out cursor-pointer" (click)="logout()">
    </i>
  </div>
</div>

<p-drawer #drawerRef [(visible)]="visible">
  <ng-template #headless>
    <div class="flex flex-column h-full">

      <!-- Header -->
      <div class="flex align-items-center justify-content-between px-6 pt-4 mb-3">
        <div class="flex align-items-center justify-content-center gap-3">
          <img src="assets/image/logo/mini_logo.png" alt="Trung Tín" class="h-3rem w-auto md:h-4rem" />
          <p class="m-0 text-xl font-bold">Menu</p>
        </div>
      </div>

      <!-- Menu list -->
      <div class="overflow-y-auto flex flex-column align-items-start justify-content-center gap-3 p-3">
        <p-panelmenu [model]="itemsMenu" [styleClass]="'w-full md:w-80 admin-menu'" [multiple]="true"
          class="w-full md:w-80" />
      </div>
      <div class="mt-auto p-3">
        <hr class="mx-4 border-t border-0 border-surface" />
        <!-- Cài đặt -->
        <p-panelmenu [model]="itemsMenuSettings" class="w-full md:w-80" />
      </div>
    </div>
  </ng-template>
</p-drawer>