<footer class="bg-dark text-light pt-8 pb-4 px-2 md:px-8">
    <div class="max-w-full mx-auto flex flex-column xl:flex-row gap-8 justify-between">
        <!-- Menu cột -->
        <div class="flex-2 flex flex-column lg:flex-row align-items-start gap-10 h-fit">
            <div class="w-full flex flex-column lg:flex-row align-items-start gap-6">
                <div class="flex-1 flex flex-row gap-5">
                    <div class="flex-1">
                        <h3 class="font-bold text-xl xl:text-2xl mb-5 uppercase">Các sản phẩm</h3>
                        <div class="flex flex-column align-items-start gap-3">
                            <a routerLink="/hand-tools" class="cursor-pointer">Dụng Cụ Cầm Tay</a>
                            <a routerLink="/power-tools" class="cursor-pointer">Công Cụ Cầm Tay</a>
                            <a routerLink="/accessories" class="cursor-pointer">Phụ kiện</a>
                        </div>
                    </div>
                    <div class="flex-1">
                        <h3 class="font-bold text-xl xl:text-2xl mb-5 uppercase">Dịch vụ</h3>
                        <div class="flex flex-column align-items-start gap-3">
                            <a routerLink="/register-warranty" class="cursor-pointer">Chính sách bảo hành</a>
                            <a routerLink="/register-shipping" class="cursor-pointer">Chính sách giao hàng</a>
                            <a routerLink="/parts" class="cursor-pointer">Kiểm tra phụ tùng</a>
                            <a routerLink="/news" class="cursor-pointer">Tin tức</a>
                        </div>
                    </div>
                </div>
                <div class="flex-1">
                    <h3 class="font-bold text-xl xl:text-2xl mb-5 uppercase">Hỗ trợ</h3>
                    <div class="flex flex-column align-items-start gap-3">
                        <p class="m-0">
                            <i class="pi pi-home mr-2" style="font-size: 1rem"></i>
                            <a href="https://www.google.com/maps/place/%C4%91i%E1%BB%87n+m%C3%A1y+trung+t%C3%ADn/@10.789762,106.6141084,417m/data=!3m1!1e3!4m15!1m8!3m7!1s0x31752c094b372977:0x1059adfa32d6e173!2zNzYgS8OqbmggTsaw4bubYyDEkGVuLCBCw6xuaCBIxrBuZyBIb8OgIEEsIELDrG5oIFTDom4sIEjhu5MgQ2jDrSBNaW5oIDcwMDAwMA!3b1!8m2!3d10.7885549!4d106.6126572!16s%2Fg%2F11vspc12j2!3m5!1s0x31752b754a26e03d:0xe4a5896b69a56042!8m2!3d10.7897964!4d106.6141239!16s%2Fg%2F11q3mrg889?entry=ttu&g_ep=EgoyMDI1MDczMC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank" pTooltip="Xem ngay trên map" tooltipPosition="top">
                                Địa chỉ: 76 đường Kênh Nước Đen, phường Bình Hưng Hòa A, quận Bình Tân, TP HCM
                            </a>
                        </p>
                        <p class="m-0">
                            <i class="pi pi-phone mr-2" style="font-size: 1rem"></i>
                            Số điện thoại (cửa hàng):
                            <a href="tel:0862465649" class="cursor-pointer" pTooltip="Gọi ngay"
                                tooltipPosition="bottom">0862.465.649</a>
                        </p>
                        <p class="m-0">
                            <i class="pi pi-mobile mr-2" style="font-size: 1rem"></i>
                            Zalo:
                            <a href="tel:0862465649" class="cursor-pointer" pTooltip="Gọi ngay"
                                tooltipPosition="bottom">0862.465.649</a> -
                            <a href="tel:0903382582" class="cursor-pointer" pTooltip="Gọi ngay"
                                tooltipPosition="bottom">0903.382.582</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Iframe Google Maps -->
        <div class="flex-1 w-full aspect-[4/3]">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10803.697690685334!2d106.61307799933459!3d10.785958978878641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c0eca0b60cd%3A0xc346b0bd78f374cb!2zNzYgS8OqbmggTsaw4bubYyDEkGVuLCBCw6xuaCBIxrBuZyBIb8OgIEEsIELDrG5oIFTDom4sIEjhu5MgQ2jDrSBNaW5oIDcwMDAwLCBWaeG7h3QgTmFt!5e1!3m2!1svi!2s!4v1754232859899!5m2!1svi!2s"
                class="w-full h-full" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- Form đăng ký nhận tin -->
    <!-- Social + Copyright -->
    <div
        class="mt-8 max-w-7xl mx-auto flex flex-column md:flex-row items-center justify-between gap-4 border-t border-white/20 pt-6">
        <div class="flex flex-row align-items-center gap-4 text-2xl">
            <a href="#" class="hover:text-accent cursor-pointer"><i class="pi pi-facebook"></i></a>
            <a href="#" class="hover:text-accent cursor-pointer"><i class="pi pi-youtube"></i></a>
        </div>
        <div class="flex flex-column md:flex-row align-items-start md:align-items-center text-xs opacity-70 md:text-right">
            <p>© 2025 Trung Tín Electronics. Đã đăng ký Bản quyền. | </p>
            <a href="#" class="underline hover:text-accent">Chính sách quyền riêng tư</a>
        </div>
    </div>
</footer>